.edit-request-container{
//   border: 2px solid green;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 60vw;
}

.edit-request-wrapper {
  height: 80%;
  width: 87%;
  border: 0.6px solid #d3d3d3;
}

.edit-request-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 20px 0;
  border-bottom: 1px solid darkgray;
  border-style: dashed;
}

.edit-left-head{
  font-size: 20px;
  font-family: PayPal Sans Big Medium;
}

.edit-header-left > h1 {
  padding-bottom: 5px;
}

.edit-header-left > p {
  font-size: 11px;
  margin-bottom: -8px;
}

.edit-request-amount{
  color: green;
  font-size: 20px;
  font-family: PayPal Sans Big Light, Helvetica Neue,Arial,sans-serif;
}

.edit-details-wrapper{
  display: flex;
  flex-direction: row;
//   border: 2px solid green;
  height: 75%;
  width: 90%;
  justify-content: space-between;
  margin: auto;
}

.left-details-wrapper{
//   border: 2px solid;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 20px;
}

.left-details{
  padding-bottom: 25px;
}

.left-details > h2, .edit-form > label, .edit-total > h2{
  font-size: 14px;
  font-family: PayPal Sans Big Medium;
}

.left-details > p, .edit-details-right > p {
  font-size: 12px;
}

#edit-email{
  color: #0070ba;
}

.edit-details-right{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-form {
  display: flex;
  flex-direction: column;
  width: 50%;
//   border: 2px solid;
}

.edit-note, .edit-amount{
  border: 1px solid lightgray;
  border-radius: 2px;
  outline: none;
  margin-bottom: 25px;
  font-size: 14px;
  // padding-bottom: 25px;
}

.edit-amount{
  width: 65px;
}

.edit-total{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid;
  padding-top: 5px;
  margin-bottom: 25px;
}

.edit-total > p {
  color: green;
  font-size: 20px;
  font-family: PayPal Sans Big Medium;
}

.edit-request-btn{
//   margin-left: 84px;
  border: 1px solid #0070ba;
  border-radius: 25px;
  padding: 10px 19px;
  width: 165px;
  text-decoration: none;
  background-color: transparent;
  color: #0070ba;
  cursor: pointer;
  &:active {
    text-decoration: underline;
  }
  &:focus{
    outline: 0;
  }
  &:hover {
    // border: 1.5px solid #fff;
    font-weight: bold;
    color: #0070ba;
  }
}